[submodule "default_app"]
	path = default_app
	url = https://github.com/songyang-dev/vanier-mobile-default-app
[submodule "images_and_styles"]
	path = images_and_styles
	url = https://github.com/songyang-dev/vanier-mobile-images-and-styles.git
[submodule "widgets_in_projects"]
	path = widgets_in_projects
	url = https://github.com/songyang-dev/widgets_in_projects.git
[submodule "media_queries"]
	path = media_queries
	url = https://github.com/songyang-dev/vanier-mobile-responsive-design
[submodule "listview"]
	path = listview
	url = https://github.com/songyang-dev/vanier-mobile-listview
[submodule "bash-capture-the-flag"]
	path = bash-capture-the-flag
	url = https://github.com/songyang-dev/vanier-mobile-bash-capture-the-flag
[submodule "flutter_capture_the_flag"]
	path = flutter_capture_the_flag
	url = https://github.com/songyang-dev/vanier-mobile-flutter-capture-the-flag
[submodule "first_assignment"]
	path = first_assignment
	url = https://github.com/songyang-dev/vanier-mobile-first-assignment
[submodule "stateful_widget"]
	path = stateful_widget
	url = https://github.com/songyang-dev/vanier-mobile-stateful-widget
[submodule "interactive_widgets"]
	path = interactive_widgets
	url = https://github.com/songyang-dev/vanier-mobile-interactive-widgets
[submodule "forms"]
	path = forms
	url = https://github.com/songyang-dev/vanier-mobile-forms
[submodule "provider_examples"]
	path = provider_examples
	url = https://github.com/songyang-dev/vanier-mobile-provider-examples
